body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 1000;
  }
  /* try to put it at the side */
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  article {
    float: left;
    flex: 2;
  }

  aside {
    flex: 1;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .feature {
      width: 200px;
  }

  @media (max-width: 500px){
    .grid{
      flex-direction: column;
    }
    .photos{
      grid-template-columns: 1fr;
    }
    nav ul{
      text-align: center;
      display: block;
    }
  }
  @media (min-width: 500px){
    .grid{
      flex-wrap: wrap;
      display: flex;
    }
    .photos{
      grid-template-columns: repeat(2, 1fr);
    }
    nav ul{
      justify-content: space-between;
      display: flex;
    }
  }