.scroller {
    --scrollbar-color-track: #FFFF00;
    --scrollbar-color-thumb: #FF2400 ;
    --scrollbar-width: auto;
    --scrollbar-gutter: auto;
  }
  
  @supports ((scrollbar-gutter: stable) and (scrollbar-width: auto)) {
    .scroller {
      scrollbar-width: var(--scrollbar-width);
      scrollbar-gutter: var(--scrollbar-gutter);
    }
  
    .warning {
      display: none;
    }
  }
  
  @supports (scrollbar-color: lime hotpink) {
    .scroller {
      scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    }
  
    [data-when="scrollbar-color"] {
      display: flex;
    }
  }
  
  .scroller {
    border: 1px solid #000;
    width: 100%;
    height: 50vh;
  
    position: relative;
    container-type: inline-size;
  
    &:has(.content) {
      background: white;
      overflow-y: auto;
      overscroll-behavior: contain;
    }
  
    .content {
      min-height: 75vh;
      padding: 1rem 1rem;
  
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  @layer base {
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
    html {
      font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 20px;
    }
  
    body {
      display: grid;
      place-content: safe center;
    }
  
    main {
      max-width: 40em;
      width: 90vw;
    }
  
    h1 {
      text-align: center;
    }
  
    .controls {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      padding: 1rem 0 0;
  
      &[data-when] {
        display: none;
      }
    }
  }
  
  @layer warning {
    .warning {
      box-sizing: border-box;
      padding: 1em;
      margin: 1em 0;
      border: 1px solid #ccc;
      background: rgba(255 255 205 / 0.8);
    }
  
    .warning > :first-child {
      margin-top: 0;
    }
  
    .warning > :last-child {
      margin-bottom: 0;
    }
  
    .warning a {
      color: blue;
    }
    .warning--info {
      border: 1px solid #123456;
      background: rgb(205 230 255 / 0.8);
    }
    .warning--alarm {
      border: 1px solid red;
      background: #ff000010;
    }
  }
  